<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="com.mixdev.blog.domain.Contact" />
		<mapping class="com.mixdev.blog.domain.Post" />
		<mapping class="com.mixdev.blog.domain.Category" />
		<!--<mapping resource="beans/Post.hbm.xml"/>-->
	</session-factory>
</hibernate-configuration>